Debug/
Release/
.metadata/
*.d
*.o
*.obj
*.out
*.map
*.hex
*.bin
.pyocd.yaml
.venv/
__pycache__/
tests/build/
ticlang/syscfg/
ticlang/*.obj
ticlang/*.d
ticlang/*.out
ticlang/*.map
ticlang/device.opt
ticlang/device.cmd.genlibs
ticlang/device_linker.cmd
ticlang/ti_msp_dl_config.c
ticlang/ti_msp_dl_config.h
ticlang/Event.dot
tools/packs/
tools/*.log
